body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    text-align: center;
}

h2{
    color: navy;
    text-decoration: underline;
    text-align: center;
}

h3{
    color: navy;

}